// Your footer style

#footer {
  background: grey;
  padding: 30px 0;
  color: white;
  text-align: center;
  font-family: Verdana;
}
#footer p {
  margin-top: 30px;
}
#footer ul {
  margin-top: 20px;
}
#footer a {
  color: black;
  font-size: 30px;
  letter-spacing: 20px;
}
#footer a:hover {
  color: green;
}
