---
title: Team and contact info
---
<div id="banner">
<div class="welcome text-center padded">
  <h1>Ruben Brands</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
</div>